<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zb.manage.dal.mapper.ExamMapper">
<!--    获取全部信息-->
    <select id="findAll" resultType="com.zb.manage.dal.model.ExamDO">
        select * from exam
    </select>


    <insert id="add">
        INSERT INTO exam (id, lessonid, creattime)
        VALUES
            (#{id}, #{lessonid}, #{creattime});
    </insert>

    <delete id="delete">
        DELETE FROM exam WHERE `id` = #{id}
    </delete>

    <update id="update" parameterType="ExamDO">
        UPDATE `exam`
        SET `lessonid` = #{lessonid}
        WHERE `id` = #{id}
    </update>

    <select id="getById" resultType="ExamDO">
        select * from `exam` where `id` = #{id}
    </select>
</mapper>
