<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zb.manage.dal.mapper.LessonMapper">
<!--    获取全部信息-->
    <select id="findAll" resultType="com.zb.manage.dal.model.LessonDO">
        select * from lesson
    </select>

    <select id="findByName" resultType="LessonDO">
        select * from `lesson` where `lename` = #{lename}
    </select>

    <insert id="add">
        INSERT INTO lesson (id, lename, lenumber, teachid, letime, cretime)
        VALUES
            (#{id}, #{lename}, #{lenumber}, #{teachid}, #{letime}, #{cretime});
    </insert>

    <delete id="delete">
        DELETE FROM `lesson` WHERE `id` = #{id}
    </delete>

    <update id="update" parameterType="LessonDO">
        UPDATE `lesson`
        SET `lename` = #{lename},
            `teachid` = #{teachid},
            `letime` = #{letime}
        WHERE `id` = #{id}
    </update>

    <select id="getById" resultType="LessonDO">
        select * from `lesson` where `id` = #{id}
    </select>

    <select id="getByLenumber" resultType="LessonDO">
        select * from `lesson` where `lenumber` = #{lenumber}
    </select>
</mapper>
